Package: ersatz-cuda-drivers
Version: 0.1
Architecture: all
Conflicts: cuda-drivers
Breaks: cuda-drivers
Provides: cuda-drivers (= 65535:65535)
Description: Ban cuda-drivers while satisfying other cuda dependencies
Maintainer: Originally by Vitaly _Vi Shukela <vi0oss@gmail.com>, this one updated by Skye with fix idea by gamemanj, and then adapted to cuda-drivers by mike10004
Homepage: https://github.com/mike10004/ersatz-cuda-drivers
